ArrayTaskID	sample	read1	read2	read_singleton
1	Isidoides_armata_2008-1411	Isidoides_armata_2008-1411-READ1.fastq.gz	Isidoides_armata_2008-1411-READ2.fastq.gz	Isidoides_armata_2008-1411-READ-singleton.fastq.gz
2	Isidoides_armata_2008-1504	Isidoides_armata_2008-1504-READ1.fastq.gz	Isidoides_armata_2008-1504-READ2.fastq.gz	Isidoides_armata_2008-1504-READ-singleton.fastq.gz
3	Isidoides_armata_2008-1505	Isidoides_armata_2008-1505-READ1.fastq.gz	Isidoides_armata_2008-1505-READ2.fastq.gz	Isidoides_armata_2008-1505-READ-singleton.fastq.gz
4	Isidoides_armata_2008-1506	Isidoides_armata_2008-1506-READ1.fastq.gz	Isidoides_armata_2008-1506-READ2.fastq.gz	Isidoides_armata_2008-1506-READ-singleton.fastq.gz
5	Isidoides_armata_2008-1507	Isidoides_armata_2008-1507-READ1.fastq.gz	Isidoides_armata_2008-1507-READ2.fastq.gz	Isidoides_armata_2008-1507-READ-singleton.fastq.gz
6	Isidoides_armata_2008-1510	Isidoides_armata_2008-1510-READ1.fastq.gz	Isidoides_armata_2008-1510-READ2.fastq.gz	Isidoides_armata_2008-1510-READ-singleton.fastq.gz
7	Isidoides_armata_2009-1632	Isidoides_armata_2009-1632-READ1.fastq.gz	Isidoides_armata_2009-1632-READ2.fastq.gz	Isidoides_armata_2009-1632-READ-singleton.fastq.gz
8	Isidoides_armata_2016-2540	Isidoides_armata_2016-2540-READ1.fastq.gz		Isidoides_armata_2016-2540-READ2.fastq.gz		Isidoides_armata_2016-2540-READ-singleton.fastq.gz	
9	Isidoides_armata_MBM286881	Isidoides_armata_MBM286881-READ1.fastq.gz		Isidoides_armata_MBM286881-READ2.fastq.gz		Isidoides_armata_MBM286881-READ-singleton.fastq.gz	
10	Isidoides_elegans_MBM286500	Isidoides_elegans_MBM286500-READ1.fastq.gz 	Isidoides_elegans_MBM286500-READ2.fastq.gz 	Isidoides_elegans_MBM286500-READ-singleton.fastq.gz 
11	Isidoides_elegans_MBM286501	Isidoides_elegans_MBM286501-READ1.fastq.gz 	Isidoides_elegans_MBM286501-READ2.fastq.gz 	Isidoides_elegans_MBM286501-READ-singleton.fastq.gz 
12	Isidoides_gracilis_MBM286877	Isidoides_gracilis_MBM286877-READ1.fastq.gz	Isidoides_gracilis_MBM286877-READ2.fastq.gz	Isidoides_gracilis_MBM286877-READ-singleton.fastq.gz
13	Isidoides_gracilis_MBM286878	Isidoides_gracilis_MBM286878-READ1.fastq.gz	Isidoides_gracilis_MBM286878-READ2.fastq.gz	Isidoides_gracilis_MBM286878-READ-singleton.fastq.gz
14	Isidoides_gracilis_MBM286879	Isidoides_gracilis_MBM286879-READ1.fastq.gz	Isidoides_gracilis_MBM286879-READ2.fastq.gz	Isidoides_gracilis_MBM286879-READ-singleton.fastq.gz
15	Isidoides_gracilis_MBM286880	Isidoides_gracilis_MBM286880-READ1.fastq.gz	Isidoides_gracilis_MBM286880-READ2.fastq.gz	Isidoides_gracilis_MBM286880-READ-singleton.fastq.gz
16	Isidoides_incrassata_MBM286882	Isidoides_incrassata_MBM286882-READ1.fastq.gz	Isidoides_incrassata_MBM286882-READ2.fastq.gz	Isidoides_incrassata_MBM286882-READ-singleton.fastq.gz
17	Isidoides_pseudarmata_2008-1508	Isidoides_pseudarmata_2008-1508-READ1.fastq.gz	Isidoides_pseudarmata_2008-1508-READ2.fastq.gz	Isidoides_pseudarmata_2008-1508-READ-singleton.fastq.gz
18	Isidoides_pseudarmata_2008-1509	Isidoides_pseudarmata_2008-1509-READ1.fastq.gz	Isidoides_pseudarmata_2008-1509-READ2.fastq.gz	Isidoides_pseudarmata_2008-1509-READ-singleton.fastq.gz
19	Isidoides_pseudarmata_2008-1867	Isidoides_pseudarmata_2008-1867-READ1.fastq.gz	Isidoides_pseudarmata_2008-1867-READ2.fastq.gz	Isidoides_pseudarmata_2008-1867-READ-singleton.fastq.gz
20	Isidoides_pseudarmata_2008-1869	Isidoides_pseudarmata_2008-1869-READ1.fastq.gz	Isidoides_pseudarmata_2008-1869-READ2.fastq.gz	Isidoides_pseudarmata_2008-1869-READ-singleton.fastq.gz
21	Isidoides_pseudarmata_2008-1875	Isidoides_pseudarmata_2008-1875-READ1.fastq.gz	Isidoides_pseudarmata_2008-1875-READ2.fastq.gz	Isidoides_pseudarmata_2008-1875-READ-singleton.fastq.gz
