ArrayTaskID	sample
1	Isidoides_armata_2008-1411.All_dedup.bam
2	Isidoides_armata_2008-1504.All_dedup.bam
3	Isidoides_armata_2008-1505.All_dedup.bam
4	Isidoides_armata_2008-1506.All_dedup.bam
5	Isidoides_armata_2008-1507.All_dedup.bam
6	Isidoides_armata_2008-1510.All_dedup.bam
7	Isidoides_armata_2009-1632.All_dedup.bam
8	Isidoides_armata_2016-2540.All_dedup.bam
9	Isidoides_armata_MBM286881.All_dedup.bam
10	Isidoides_elegans_MBM286500.All_dedup.bam
11	Isidoides_elegans_MBM286501.All_dedup.bam
12	Isidoides_gracilis_MBM286877.All_dedup.bam
13	Isidoides_gracilis_MBM286878.All_dedup.bam
14	Isidoides_gracilis_MBM286879.All_dedup.bam
15	Isidoides_gracilis_MBM286880.All_dedup.bam
16	Isidoides_incrassata_MBM286882.All_dedup.bam
17	Isidoides_pseudarmata_2008-1508.All_dedup.bam
18	Isidoides_pseudarmata_2008-1509.All_dedup.bam
19	Isidoides_pseudarmata_2008-1867.All_dedup.bam
20	Isidoides_pseudarmata_2008-1869.All_dedup.bam
21	Isidoides_pseudarmata_2008-1875.All_dedup.bam
